<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Bienvenido.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"> 
    <p>Compra y vende tus artículos y/o productos de manera fácil, efectiva y en tiempo real.</p>
  </div>
  <div text-center class="ion-padding"> 
    <p>¡DÉJATE SORPRENDER!</p>
  </div>
  <br>
  <ion-button class="btns" expand="block" color="primary" (click)="Logear_registrar()">
    Seguir adelante.
  </ion-button>
  <ion-button class="btns" expand="block" color="warning" (click)="Cerrarlaaplicacion()">
    En otro momento.
  </ion-button>
  <ion-button class="btns" expand="block" color="danger" (click)="Desinstalarlaaplicacion()">
    No me interesa.
  </ion-button>
</ion-content>
